@import url(https://fonts.googleapis.com/css?family=Neucha|Patrick+Hand+SC);

html {
  font-family: Neucha, sans-serif;
  font-size: 20px;

  box-sizing: border-box;

  color: #41403e;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  background-image: url("img/geometry.png");
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Patrick Hand SC',sans-serif;
  font-weight: 400
}

h1 {
  font-size: 4rem
}

h2 {
  font-size: 3rem
}

h3 {
  font-size: 2rem
}

h4 {
  font-size: 1.5rem
}

h5 {
  font-size: 1rem
}

h6 {
  font-size: .8rem
}

a {
  text-decoration: none;

  background-image: linear-gradient(5deg,transparent 65%,#0071de 80%,transparent 90%),linear-gradient(165deg,transparent 5%,#0071de 15%,transparent 25%),linear-gradient(165deg,transparent 45%,#0071de 55%,transparent 65%),linear-gradient(15deg,transparent 25%,#0071de 35%,transparent 50%);
  background-repeat: repeat-x;
  background-position: 0 90%;
  background-size: 4px 3px
}

a:visited {
  text-decoration: none;

  color: #41403e
}

.text-left {
  text-align: left
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

a, button, input, option, p, select, table, tbody, td, textarea, th, thead, tr {
  font-family: Neucha, sans-serif
}

img {
  display: block;

  max-width: 100%;
  height: auto;
}

.paper {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2rem;

  border: 1px solid #c1c0bd;
  background-color: #fff;
  -webkit-box-shadow: -1px 5px 35px -9px rgba(0,0,0,.2);
  -moz-box-shadow: -1px 5px 35px -9px rgba(0,0,0,.2);
  box-shadow: -1px 5px 35px -9px rgba(0,0,0,.2)
}

@media screen and (max-width:480px) {
  .paper {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1rem
  }
}

.demo .row .col {
  background-color: #eee;
}
.demo .row .col:nth-child(even) {
  background-color: #ddd;
}

.demo .card {
  width: 20rem;
}
