@import url(https://fonts.googleapis.com/css?family=Neucha|Patrick+Hand+SC);

html {
  box-sizing: border-box;
  font-family: Neucha, sans-serif;
  font-size: 20px;
  color: #41403e;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  background-image: url("img/geometry.png");
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Patrick Hand SC',sans-serif;
  font-weight: 400
}

h1 {
  font-size: 4rem
}

h2 {
  font-size: 3rem
}

h3 {
  font-size: 2rem
}

h4 {
  font-size: 1.5rem
}

h5 {
  font-size: 1rem
}

h6 {
  font-size: .8rem
}

.text-left {
  text-align: left
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

a, button, input, option, p, select, table, tbody, td, textarea, th, thead, tr {
  font-family: Neucha, sans-serif
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.paper {
  border: 1px solid #c1c0bd;
  background-color: #fff;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: -1px 5px 35px -9px rgba(0,0,0,.2);
  -moz-box-shadow: -1px 5px 35px -9px rgba(0,0,0,.2);
  box-shadow: -1px 5px 35px -9px rgba(0,0,0,.2)
}

@media screen and (max-width:480px) {
  .paper {
    padding: 1rem;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0
  }
}

.demo .row .col {
  background-color: #eee;
}
.demo .row .col:nth-child(even) {
  background-color: #ddd;
}

.demo .card {
  width: 20rem;
}
