html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  background-image: url("img/geometry.png");
}

.paper {
  border: 1px solid #c1c0bd;
  background-color: #fff;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: -1px 5px 35px -9px rgba(0,0,0,.2);
  -moz-box-shadow: -1px 5px 35px -9px rgba(0,0,0,.2);
  box-shadow: -1px 5px 35px -9px rgba(0,0,0,.2)
}

@media screen and (max-width:480px) {
  .paper {
    padding: 1rem;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0
  }
}

.demo .row .col {
  background-color: #eee;
}
.demo .row .col:nth-child(even) {
  background-color: #ddd;
}
